## WARNING Autogenerted file
## Please don't edit, remove this file

[mysqld]

# skip-ssl

server-id = {{ mysql_server_id }} 
port      = 3306

binlog_format = ROW

gtid_mode=ON
enforce-gtid-consistency=ON

log_replica_updates
log_bin                   = mysql-bin

default_storage_engine = InnoDB

# replication

report-host = {{ ansible_hostname|lower }}
replica_net_timeout = 60

skip_replica_start

transaction_isolation = 'READ-COMMITTED'

binlog_checksum = NONE
relay_log_info_repository = TABLE
transaction_write_set_extraction = XXHASH64

auto_increment_increment = 1
auto_increment_offset = 2

binlog_transaction_dependency_tracking = WRITESET 
replica_parallel_type = LOGICAL_CLOCK
replica_preserve_commit_order = ON

# super_read_only=on

plugin_load_add='group_replication.so'
group_replication_group_name="{{ mysql_gr_name }}"
group_replication_view_change_uuid="{{ mysql_gr_vcu }}"
group_replication_start_on_boot=on
group_replication_local_address="{{ mysql_ip_address }}:33061"
{% if mysql_bootstrap %}
group_replication_bootstrap_group=on
group_replication_group_seeds=""
{% else %}
group_replication_bootstrap_group=off
group_replication_group_seeds={{ gr_seeds }}
{% endif %}